@import "~bootstrap/scss/mixins";

$theme-colors: (
  "primary": #145bea,
  "secondary": #833bec,
  "success": #1ce1ac,
  "info": #ff7d50,
  "warning": #ffbe0b,
  "danger": #ff007f,
  "light": #ddd,
  "dark": #001738,
);

html,
body {
  overflow-x: hidden !important;
  background: #333 !important;
  width: 100vw;
  min-height: 100vh;

  .home-nav-bar {
    width: 100vw;
    background: #333 !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    .btn {
      background: #e2288e;
      color: #333;
      width: 100px;
      margin-right: 10px;
      font-weight: bold;
      border: none;

      &:hover {
        background: darken(#e2288e, 10%);
        color: #333;
      }
    }

    a {
      color: #cf1c7d;
      font-weight: normal;

      &:hover {
        color: darken(#cf1c7d, 10%);
      }
    }

    .nav-link > svg,
    .nav-item > button {
      margin: 5px 0 !important;
    }
  }

  .TopSongListContainer {
    background-color: #333;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    & > div {
      margin: min(1vw, 1vh) 0;

      & > div.card {
        & > img.card-img-top {
          cursor: pointer;
        }
      }
    }

    & > .searchContainer {
      width: 100vw;
      display: flex;
      justify-content: center;

      button {
        background: #e2288e;
        color: #333;
        margin: min(1vw, 1vh);
        font-weight: bold;
        border: none;

        &:hover {
          background: darken(#e2288e, 10%);
          color: #333;
        }
      }

      & > input[type="text"] {
        width: 50vw;
        margin: min(1vw, 1vh) 0;
      }
    }
  }

  .chartContainer {
    width: 100vw;
    background-color: #333;

    .nav-item {
      .active.timeframe-nav {
        background-color: #cf1c7d;
        color: black;
      }
      .timeframe-nav {
        color: #cf1c7d;
      }

      .active.commonwords-nav {
        background-color: #89cff0;
        color: black;
      }
      .commonwords-nav {
        color: #89cff0;
      }

      .active.filterprofanity-nav {
        background-color: red;
        color: black;
      }
      .filterprofanity-nav {
        color: red;
      }
    }

    .pieContainer {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      margin-top: min(10vh, 22.5vw);

      .pie {
        padding: 10px;
        width: min(60vh, 72vw);
        margin-bottom: min(3vh, 2vw);
      }
      .infodiv {
        width: min(50vh, 60vw);
        height: min(60vh, 72vw);
        display: flex;
        flex-direction: column;

        .albumInfo {
          height: min(25vh, 31vw);
          width: min(55vh, 65vw);
          display: flex;
          flex-direction: row;
          margin-bottom: min(11vh, 5vw);

          &:hover {
            cursor: pointer;
          }

          .albumCoverImg {
            width: min(15vh, 25vw);
            height: min(15vh, 25vw);
            margin-right: min(1vh, 2vw);
          }

          .songDetails {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;

            .songName {
              font-size: min(2.3vh, 3vw);
              font-weight: bold;
            }
            .artistName {
              font-size: min(2vh, 2.5vw);
            }
            .spotifyLogo {
              width: min(10vh, 12vw);
              height: auto;
            }
          }
        }

        .percentageList {
          text-align: center;
          color: white;
          height: max(75vh, 82vw);
          width: min(50vh, 60vw);
          font-weight: 900;
          font-size: min(2vh, 2.25vw);
        }
      }
    }
  }

  .loading-body {
    background-color: #f5d1df !important;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    span {
      position: relative;
      color: #f29ccb;
      animation: container-parent 6s infinite;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-text);
        color: #ffffff;
        opacity: 0;
        animation: container-child 2s infinite;
      }

      @for $i from 1 through 7 {
        &:nth-child(#{$i + 1})::after {
          animation-delay: #{$i * 0.2}s;
        }
      }
    }

    @keyframes container-parent {
      0%,
      25%,
      35%,
      50%,
      100% {
        color: #e854a5;
      }
      60%,
      80% {
        color: #871252;
      }
    }

    @keyframes container-child {
      0% {
        opacity: 1;
      }
      25%,
      50%,
      100% {
        opacity: 0;
      }
    }

    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      box-shadow: #fcba03;
      transform: scale(2);
      animation: pulse 2s infinite;
    }

    button {
      animation-name: btn-color-change;
      animation-duration: 8s;
      animation-iteration-count: infinite;
    }

    @keyframes btn-color-change {
      0% {
        background-color: #f29ccb;
      }
      5% {
        background-color: #ed78b8;
      }
      10% {
        background-color: #e854a5;
      }
      15% {
        background-color: #e33092;
      }
      24% {
        background-color: #cf1c7d;
      }
      32% {
        background-color: #d177a8;
      }
      38% {
        background-color: #c90872;
      }
      45% {
        background-color: #a65d85;
      }
      54% {
        background-color: #510b31;
      }
      65% {
        background-color: #eb1e7e;
      }
      72% {
        background-color: #f02e7e;
      }
      83% {
        background-color: #c93271;
      }
      89% {
        background-color: #bf2163;
      }
      95% {
        background-color: #ad8093;
      }
      100% {
        background-color: #eda6c4;
      }
    }

    @keyframes pulse {
      0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }

      100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }
  }

  .home {
    background-color: #343d46;
    width: 100vw;
    height: 100vh;

    .centralStuff {
      width: 100vw;
      height: 80vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        color: black;
        font-weight: bold;
        font-size: min(3vh, 4vw);
      }

      button {
        width: min(20vh, 30vw);

        background-color: #cf1c7d;
        border: none;

        font-weight: bold;

        &:hover {
          background-color: darken(#cf1c7d, 10%);
        }
      }

      .pie {
        width: min(35vh, 45vw);
      }
    }
  }

  .page-not-found-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("https://c.tenor.com/8uAPPH9GpOUAAAAC/white-monkey-confused.gif");
    background-size: cover;

    .Main {
      font-family: "Copper Plate", Monospace, Fantasy;
      font-size: 100px;
      color: #cf1c7d;
      font-weight: 900;
    }

    .Sub {
      font-family: "Copper Plate", Monospace, Fantasy;
      color: #cf1c7d;
      width: 250px;
      font-weight: 900;
      font-size: 30px;
    }
  }

  .error-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("https://c.tenor.com/8uAPPH9GpOUAAAAC/white-monkey-confused.gif");
    background-size: cover;

    .Main {
      font-family: "Copper Plate", Monospace, Fantasy;
      font-size: 100px;
      color: #cf1c7d;
      font-weight: 900;
    }

    .Sub {
      font-family: "Copper Plate", Monospace, Fantasy;
      color: #cf1c7d;
      width: 250px;
      font-weight: 900;
      font-size: 30px;
    }
  }

  .amongUsContainer {

    .introDiv {

      height: calc(900vw / 13);

      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #343d46;

      display: flex;
      justify-content: center;
      align-items: center;

      .abtUs {
        font-size: min(3vw, 3vh);
        width: min(50vw, 90vh);

        text-align: center;
        font-weight: 800;
        padding: 30px;
        font-family: "Copper Plate", Monospace, Fantasy;

        & > p,
        & > h1 {
          color: white;
          mix-blend-mode: difference;
        }
      }
    }

    .spieDiv {
      min-height: 25vh;
      background-color: #cf1c7d;
      padding: min(7vh, 4vw);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .abtSpie {
      margin: auto;
      text-align: center;
      padding: 30px;
      font-family: "Copper Plate", Monospace, Fantasy;
      color: lightgoldenrodyellow;
    }

    .teamDiv {
      padding-top: min(4vh, 5vw);
      text-align: center;
      min-height: 35vh;
      background-color: #343d46;
      font-family: "Copper Plate", Monospace, Fantasy;
      color: lightgoldenrodyellow;

      & > .teamProfiles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        & > .teamProfile {
          margin: 5vh;
          display: inline-block;
          width: min(80vw, 35vh);
          border: 5px solid #cf1c7d;
          box-shadow: 21px 18px 20px 2px rgba(207, 28, 125, 0.82);
          border-radius: 30px;

          & > img {
            width: 100% !important;
            height: auto;
            border-radius: 24px;
          }

          & > .teamDesc {
            margin-top: 5px;
            padding: 15px;
          }
        }
      }
    }
  }
}

@import "/node_modules/bootstrap/scss/bootstrap.scss";
